<div id="main-content" class="bg-color-gray">
  <!-- Header -->
  <!-- Navbar -->
  <app-main-nav></app-main-nav>
  <!-- End Header -->
  <!-- main -->
  <div class="page-container scene-main scene-main--fade_In">

    <div class="page_main_title mb-60px">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 text-center text-lg-left">
            <h4>Life Koach</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="content">
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>

    <!-- footer  -->
    <app-footer></app-footer>

  </div>
  <!-- End main -->
</div>
