<div class="container">
  <div class="row">
    <div class="col-lg-8" style="text-align: justify">
      <p>
        <img src="/assets/images/IMG_1185.jpg" style="height: 450px;float: left;" class="mr-4"> Kevin is successful because he has lived the lives of his children. He sees a little of himself in each child he
        coaches / teaches. He knows with what they are coping. He shows his students-athletes how to endure and overcome
        adversity. He helps students-athletes overcome obstacles to progress and success. Kevin believes there is something
        convincingly magical when a student-athlete senses that you speak from a deep personal reference or similar
        experience. He is a person of old, caring and nurturing, bringing out the very best in each child.
      </p>
      <p>
        Koach Mills is an example of the belief "that all children can achieve when given hope and opportunity."
      </p>
      <p>
        As an educator-coach of twenty-two years and Dad of four, he’s learned many tips to parenting as well as teaching and
        life along the way.
      </p>
      <p>
        He shows his children, student, and students-athletes how to endure and overcome adversity. He helps students and
        students-athletes alike overcome obstacles to progress and success. Kevin believes there is something convincingly
        magical when a student-athlete senses that you speak from a deep personal reference or similar experience. He is a
        person of old, caring and nurturing, bringing out the very best in each young person he encounters.
      </p>
      <p>
        Kevin is an example of the belief “that all children can achieve when given hope and opportunity.”
      </p>
      <p>
        Kevin’s professional goal is to engage others to join in the relentless pursuit of excellence in every aspect of life.
        Throughout every step of his career, oftentimes, in a challenging environment, he has managed to place the welfare of
        his students as his highest priority.
      </p>
      <p>
        Kevin holds three masters degrees: an MBA in business, an MA in Human Development, and a MS in Coaching and Athletic
        Administration.
      </p>

      <p>
        <strong>Board of Directors</strong><br>

        Kevin D. Mills - Chief Executive Officer<br>
        Korinne D. Mills - Chief Financial Officer<br>
        Rozanna Avetyan - Secretary
      </p>
    </div>

    <div class="col-lg-4">
      <div class="bg-color-grayflame widget pt-30px pb-30px px-30px">
        <ul class="category-list list-unstyled mb-0">
          <li>
            <a routerLink="/child-safety">
              CHILD SAFETY
            </a>
          </li>
          <li>
            <a href="#">
              PHOTO ALBUM
            </a>
          </li>
          <li>
            <a routerLink="/bio">
              BIO
            </a>
          </li>
          <li>
            <a routerLink="/board-of-directors">
              BOARD OF DIRECTORS
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
