<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2 class="mb-15px">Get in touch with us</h2>
      <p>Have any questions, concerns, or interested in joining the team? Feel free to get in contact.
      </p>
      <p class="lead mb-3">
        Kevin Mills - Executive Director<br>
        P.O.Box 93873 Pasadena, CA 91109</p>
      <p class="lead">E:
        <a href="#">kevin@themillskorner.org</a>
      </p>
    </div>

    <div class="col-md-6 offset-md-1">
      <form class="form-fields-bg-transparent" (ngSubmit)="kontact()" [formGroup]="contactForm">
        <div class="row mb-0">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group mb-30px">

              <input type="text" formControlName="name" name="name" class="form-control" placeholder="Your Name *">
              <div class="help-block with-errors" *ngIf="submitted && contactForm.controls.name.errors">
                <span *ngIf="contactForm.controls.name.errors.required">Required</span>
              </div>

            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-group mb-30px has-error">

              <input type="email" formControlName="email" name="email" class="form-control" placeholder="Your email *">
              <div class="help-block with-errors" *ngIf="submitted && contactForm.controls.email.errors">
                <span *ngIf="contactForm.controls.email.errors.required">Required</span>
                <span *ngIf="contactForm.controls.email.errors.email">Not proper email format</span>
              </div>

            </div>
          </div>
        </div>
        <div class="form-row mb-15px">
          <div class="form-group col-md-12">
            <div class="form-group mb-0">

              <textarea formControlName="message" name="message" class="form-control" placeholder="Your Message *"
                        rows="7"></textarea>
              <div class="help-block with-errors" *ngIf="submitted && contactForm.controls.message.errors">
                <span *ngIf="contactForm.controls.message.errors.required">Required</span>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xs-12 align-left">
            <button type="submit" class="btn btn-dark rounded-0 disabled" style="pointer-events: all; cursor: pointer;">
              Submit
            </button>
          </div>
        </div>
        <div class="loading-spinner"></div>
        <div class="messages mt-20px text-success">
          <strong>{{formStatus}}</strong>
        </div>
      </form>
    </div>
  </div>
</div>
