<div class="container mb-65px">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="blog_posts stander_blog_single_post">
        <article>
          <div class="post_text mt-0">
            <h2 class="post_title mb-20px">
              <a href="blog-single-post.html">Chris Hollis</a>
            </h2>
            <div class="post_content" style="text-align: justify;">
              <img src="/assets/images/chris-hollis.png" width="250px" style="float:right;" class="ml-4">
              <p>
                Coach Kevin Mills, Has been a mentor and father figure to me since I was about 16 years old. He was my
                Head Football Coach at Pasadena High School. Coach Kevin Mills helped push me to understand how to
                overcome adversity, and accept new challenges in life. Also how to get through tough circumstances
                without doubting myself.
              </p>
              <p>
                Mills instilled in me that tough spirit of being a determined and motivated individual and not being
                susceptible to having the mentality of a victim and feeling like the world owes me something. Mills
                always told me that having an impact requires sacrifice and that loyalty is everything. Without coach
                Kevin Mills my life trajectory would have been very different due to my environment growing up as a
                young black man in my neighborhood.
              <p>
                Due to Coach mills mentor-ship of me, i continued my football and academic career in college at Mount
                San Antonio College. Where I graduated with an Associates Degree in Kinesiology and Wellness, and made
                the deans list for my academic achievements. From there i went on to Azusa Pacific University where i
                continued my football and academic career, and graduated with a Bachelors Degree in Sociology. While
                being a intern for a well known business organization called "Enactus", where i held the position off
                discussion facilitator. I am currently working in the area of community development in Los Angeles
                County. I serve as a Board Member as well for a non-profit organization called "ImPower Youth" at the
                age of twenty-six years old. Along with all of that i am continuing my education in pursuits of an M.B.A
                degree from University's such as, USC, Howard University, Georgetown, Chicago Booth School of Business,
                and a few more. I say all this to conclude that without Coach Kevin Mills in my life none of this would
                be possible at all. he instilled in me the tools at a critical age in my life to succeed and overcome
                everything that life has thrown at me.
              </p>
            </div>
            <div class="post_meta_bottom mt-40px mb-30px">
              <div class="separator-line mb-25px"></div>
              <div class="navigation post-navigation">
                <div class="row align-items-center nav-links">
                  <div class="col-lg-6 text-lg-left">
                    <div class="nav-previous mb-15px">
                      <div class="nav-subtitle"> Previous Testimonial</div>
                      <div class="nav-title">
                        <a href="#"><i class="fas fa-long-arrow-alt-left fa-lg mr-1" aria-hidden="true"></i>
                          Sellentesque tristiue neque</a></div>
                    </div>
                  </div>

                  <div class="col-lg-6 text-lg-right">
                    <div class="nav-next mb-15px">
                      <div class="nav-subtitle">Next Testimonial</div>
                      <div class="nav-title"><a href="#">Aliquam lobortis urna libero
                        <i class="fas fa-long-arrow-alt-right fa-lg ml-1" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="separator-line mt-10px"></div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
