<div class="container mb-65px">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="blog_posts stander_blog_single_post">
        <article class="mb-5">
          <div class="post_text mt-0">
            <h2 class="post_title mb-20px">
              <a href="blog-single-post.html">Chris Hollis</a>
            </h2>
            <div class="post_content" style="text-align: justify;">
              <img src="/assets/images/chris-hollis.png" width="250px" style="float:right;" class="ml-4">
              <p>
                Coach Kevin Mills, Has been a mentor and father figure to me since I was about 16 years old. He was my
                Head Football Coach at Pasadena High School. Coach Kevin Mills helped push me to understand how to
                overcome adversity, and accept new challenges in life. Also how to get through tough circumstances
                without doubting myself.
              </p>
              <p>
                Mills instilled in me that tough spirit of being a determined and motivated individual and not being
                susceptible to having the mentality of a victim and feeling like the world owes me something. Mills
                always told me that having an impact requires sacrifice and that loyalty is everything. Without coach
                Kevin Mills my life trajectory would have been very different due to my environment growing up as a
                young black man in my neighborhood.
              <p>
                Due to Coach mills mentor-ship of me, i continued my football and academic career in college at Mount
                San Antonio College. Where I graduated with an Associates Degree in Kinesiology and Wellness, and made
                the deans list for my academic achievements. From there i went on to Azusa Pacific University where i
                continued my football and academic career, and graduated with a Bachelors Degree in Sociology. While
                being a intern for a well known business organization called "Enactus", where i held the position off
                discussion facilitator. I am currently working in the area of community development in Los Angeles
                County. I serve as a Board Member as well for a non-profit organization called "ImPower Youth" at the
                age of twenty-six years old. Along with all of that i am continuing my education in pursuits of an M.B.A
                degree from University's such as, USC, Howard University, Georgetown, Chicago Booth School of Business,
                and a few more. I say all this to conclude that without Coach Kevin Mills in my life none of this would
                be possible at all. he instilled in me the tools at a critical age in my life to succeed and overcome
                everything that life has thrown at me.
              </p>
            </div>
          </div>
        </article>

        <article>
          <div class="post_text mt-0">
            <h2 class="post_title mb-20px">
              <a href="blog-single-post.html">Dylan Robinson</a>
            </h2>

            <div class="post_content" style="text-align: justify;">
              <img src="/assets/images/dylan.png" width="250px" style="float:right;" class="ml-4">
              <p>
                I have had the pleasure of being the both a colleague and a client of Mr. Kevin Mills. I first met Kevin
                when I began teaching English at Pasadena High School where he was Head Varsity Football Coach at the
                time. Kevin’s stellar reputation preceded he and I actually meeting face to face. We had several friends
                in common and our fellow teachers thought the world of him. Kevin’s players were the most respectable
                and well behaved of all the athletes on campus. I can honestly say I never had to write a referral or
                call the parent of a footballer because the buck stopped with Kevin. As much as Kevin is a steadfast
                disciplinarian, he was also their confidant; a balance that most coaches are never able to achieve.
              </p>
              <p>
                Over the years Kevin and I have built a friendship and eventually I contracted with Kevin to tutor my
                son, Dylan in Math. Which soon turned into Kevin tutoring my son in anything and everything. He quickly
                and effortlessly became my son’s mentor. Based on Kevin’s background and his strong relationship with my
                son he was the first person I called when Dylan began to struggle with keeping his temper while
                competing in soccer games. My son is hard on himself on top of being one of a few African-American young
                men that play soccer locally. He is often faced with adversity through constant taunting and sometimes
                flat out prejudice. Because Kevin had experience in raising an African-American professional soccer
                player and is a former athlete himself, I knew he had something to offer Dylan on what he was currently
                facing. After just one meeting I saw a difference. While Dylan is still an intense player he, over time,
                has learned how to harness his energy and to power though the adversity he faces on the field without
                reacting to every attack.
              <p>
                The two continue to speak pretty regularly and Kevin remains apart of village helps me keeps Dylan’s eye
                on the prize. As a single mother I can only do and say so much. I am fortunate to have place to send my
                son to get support and guidance from a masculine point of view and I can trust. I cannot put a monetary
                value on what Kevin has provided my son. It has proved priceless.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
