<footer class="web-footer footer footer-top-border">
  <div class="footer-widgets pt-75px pb-55px">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="footer-widget">
            <ul class="list-inline m-0 footer-nav">
              <li class="list-inline-item">
                <a routerLink="/">
                  Koaches
                </a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/general-news">
                  News
                </a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/kontact">
                  Kontact
                </a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/athletic-youth-empowerment">
                  Athletic Youth Empowerment
                </a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/donate">
                  Donate
                </a>
              </li>
            </ul>
            <p class="pt-30px">
              No artwork may be reproduced or transmitted in any form or by any means without the expressed written
              permission of KEVIN D. MILLS.
            </p>
            <p class="pt-10px">© 2019 KEVIN D. MILLS. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
