<!--<div class="page_main_title mb-60px">-->
<!--<div class="container">-->
<!--<div class="row align-items-center">-->
<!--<div class="col-lg-6 text-center text-lg-left">-->
<!--<h4>Donate</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block p-4">
          <h5>Please select or enter a donation amount below:</h5>
          <hr>
          <div class="form-check">
            <h5>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                     checked>
              <label class="form-check-label" for="exampleRadios1">
                $15
              </label>
            </h5>
          </div>
          <div class="form-check">
            <h5>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                $50
              </label>
            </h5>
          </div>
          <div class="form-check">
            <h5>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                $100
              </label>
            </h5>
          </div>
          <div class="form-check">
            <h5>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                $500
              </label>
            </h5>
          </div>
          <div class="form-check">
            <h5>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                $1,000
              </label>
            </h5>
          </div>
          <input type="text" name="amount" class="form-control" placeholder="Enter donation amount"
                 style="margin: 1rem 0;background: #f3f3f3">
          <button>Submit Choice</button>
        </div>
      </div>

      <div class="bg-color-gray-shade-radius px-40px py-60px my-4">
        <h3>Have Questions?</h3>
        <p>For questions or to make a gift over the phone, please contact Kevin Mills at kevin@themillskorner.org.
          To mail your gift to themillskorner, please send it to:</p>

        <p>TheMillsKorner.org<br>
          P.O. Box 98387<br>
          Pasadena, CA 91109</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="boxed boxed--lg boxed--border">
        <h5>Please donate now to support our mentees:</h5>
        <p class="lead">A donation to themillskorner is an investment in the future of our youth. The support and
          generosity of individuals, corporations and foundations allows us to make a real difference in the lives
          of children across the country. Please donate now and support a student in need.
        </p>
      </div>
      <div class="boxed boxed--lg boxed--border">
        <h5>The impact of your gift</h5>
        <p>Your tax-deductible gift to our 501c3 non-profit, themillskorner will ensure all mentees/youths
          have a caring adult mentor to help them secure academic success, confidence to be the best
          versions of themselves, and be college and career ready when they graduate from high school. Our
          mentees need your support:
        </p>

        <ul class="simp-list" style="margin-left: 20px">
          <li>75% - 100% of our students live at or below the Federal poverty line.</li>
          <li>Each year themillskorner serves approximately 1,500 at-risk students attending public schools in
            low-income communities.
          </li>
          <li>Students build persistent academic, career, college, and life goals with mentor guidance and support.
          </li>
        </ul>

        <p>With your support more mentees will have access to mentors to guide them through themillskorner
          curricular activities focusing on academic success, career exploration and post-secondary planning.
          Themillskorner mentors help mentees increase their social capital by developing networks of supportive
          adults to help them reach their full potential.</p>
      </div>
    </div>
  </div>
</div>

