<div class="container">
  <div class="row">
    <div class="col-lg-8" style="text-align: justify">
      <h4>Koaches Korner</h4>

      <p>
        For the past 20 years, themillskorner has been helping students discover and plan for creative, meaningful and
        productive adult lives. Our mission is to provide at-risk middle and high school students with a community of
        professional mentors, empowering teens to stay in school, plan for future careers, and achieve success in life.
      </p>
      Themillskorner story began in 1993–just two years after getting into teaching and coaching, themillskorner
      developed one of the earliest mentoring platforms designed to bring the power of mentoring to at-risk youth across
      the San Gabriel Valley. With 1.2 million youth dropping out of school each year, 16 million students in need of a
      mentor and high school students only receiving 10 minutes per year of guidance counseling, the US and black males
      in particular was and continues to face an educational crisis.
      <p>
        TheMillsKorner realized early on that mentoring could make a difference if we could bring successful, caring
        adults right into the lives of at-risk youth, using a community of mentors of like circumstances, whom have
        “made it out,” to spend one hour per week with their mentees to guide, coach, and support them to find success
        in school and plan for bright futures. It’s the relationships between youth and adults that help our children
        succeed!
      </p>
      <p>
        Since 1993 themillskorner has continued to refine and evolve the program to provide a highly interactive
        experience to more than 15,000 students with who have spent over 220,000 hours completing our evidence-based
        curricular activities to help succeed in school and in life.
      </p>
    </div>

    <div class="col-lg-4">
      <div class="bg-color-grayflame widget pt-30px pb-30px px-30px">
        <ul class="category-list list-unstyled mb-0">
          <li>
            <a routerLink="/child-safety">
              CHILD SAFETY
            </a>
          </li>
          <li>
            <a href="#">
              PHOTO ALBUM
            </a>
          </li>
          <li>
            <a routerLink="/bio">
              BIO
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
