<div class="bg-img-feature-1 text-center mb-60px">
  <div class="container">
    <div class="row align-items-center height-vh60 py-150px">
      <div class="col-lg-8 offset-lg-2 all-text-content-white align-items-center">
        <h1 class="py-15px">Makings of a Mentor</h1>
        <p class="lead mb-35px">A mentor is someone whom sees a little of himself in each individual he comes in
          contact with, yet, he sees more talent and ability within</p>
        <a class="btn btn-outline-light" href="#content">More Info</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8" style="text-align: justify">
      <h4>Koaches Korner</h4>

      <p>Most people would have trouble understanding the complexity of the day to day responsibilities of those whom
        koach in the inner city. The enormity of such an undertaking is duly noted throughout this website. I applaud
        each of you for accepting this great responsibility and for having the strength and patience to see it through.
        I have had the opportunity to be a Mentor, Koach, Teacher, Big brother, Uncle, and Father over the course of
        twenty plus years in Pasadena. Throughout, I have experienced the full gamut of disappointments and rewards that
        each of them had to offer. Keep in mind, 3 thoughts: (1) Everyone is responsible for his/her life with the
        knowledge that you are primarily in charge of what happens to you. (2) Working hard is no guarantee of success,
        but it gives you a chance to have a chance. (3) Anything less than all you've got to give is an admission of the
        lack of importance you've given to your mission and its ultimate success. One of the mentoring field’s great
        strengths is the diversity of programs and settings where mentors work with youth together. mentoring has grown
        from being primarily a one-on-one community-based intervention to one that is delivered in a variety of settings
        and institutions (e.g., schools, clubs, clinical settings, online) and in myriad configurations (e.g., groups of
        youth working with one or more mentors, multiple adults working with one youth, mentor-mentee pairs working in a
        group setting). In many ways, each and every program is unique.</p>

      <p>Kind Regards,</p>
    </div>

    <div class="col-lg-4">
      <div class="bg-color-grayflame widget pt-30px pb-30px px-30px">
        <ul class="category-list list-unstyled mb-0">
          <li>
            <a routerLink="/child-safety">
              CHILD SAFETY
            </a>
          </li>
          <li>
            <a href="#">
              PHOTO ALBUM
            </a>
          </li>
          <li>
            <a routerLink="/bio">
              BIO
            </a>
          </li>
        </ul>
      </div>

      <p>
        <strong>Head Koach:</strong> Kevin D Mills<br>
        <strong>Number:</strong> 818-317-1256<br>
        <strong>Email:</strong> kevin@themillskorner.org<br>
        <strong>Address:</strong> P.O. Box 93873<br>
        Pasadena, CA 91109
      </p>
    </div>

    <div class="col-lg-12 mt-60px mb-60px">
      <div class="bg-color-gray-shade-radius pt-30px pb-30px px-30px text-center">
        <blockquote>
          <small>“The most compelling manner a mentor may prepare another leader is to expose them to other great
            people.
            Seemingly, this allows him or her a chance to have chance. We will define Mentoring as the ability to be
            empathetic, to welcome challenge, to be motivated by a clear focus on goals, and help the individual to be
            a success in their own mind. A mentor is someone whom sees a little of himself in each individual he comes
            in contact with, yet, he sees more talent and ability within! Moreover, a mentor shows individuals how to
            endure adversity as well as how to overcome obstacles to progress and success...“
          </small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
