<div class="container">
  <div class="row">
    <div class="col-lg-8" style="text-align: justify">
      <h4>How we came to be</h4>

      <strong>With a Mentor, At-risk youth are:</strong>

      <ul class="list-unstyled">
        <li>
          <i class="far fa-arrow-alt-circle-right mr-2"></i> 85% more likely to participate regularly in sports
          or extracurricular activities…
        </li>
        <li>
          <i class="far fa-arrow-alt-circle-right mr-2"></i> 135% more likely to have held a leadership position in a
          club or on a sports team…
        </li>
        <li>
          <i class="far fa-arrow-alt-circle-right mr-2"></i> 92% who had a mentor said they are now
          interested in becoming mentors…
        </li>
        <li>
          <i class="far fa-arrow-alt-circle-right mr-2"></i> 54% Less than than their peers to skip a day of school…
        </li>
        <li>
          <i class="far fa-arrow-alt-circle-right mr-2"></i> 56% more likely to be enrolled in college…
        </li>
        <li>
          <i class="far fa-arrow-alt-circle-right mr-2"></i> 48% less likely than their peers to start using drugs…
        </li>
        <li>
          <i class="far fa-arrow-alt-circle-right mr-2"></i> 80% more likely to volunteer regularly in their
          communities…
        </li>
      </ul>

      <blockquote class="blockquote">
        <p class="mb-2">A recent study on black student achievement found that black students who had just one black
          teacher by third grade were 13% more likely to go to college. Those who had two black teachers were 32% more
          likely. </p>
      </blockquote>

      <h4 class="my-20px">theMillsKorner MISSION</h4>
      <p>to establish and provide a solid fundamental foundation for at-risk and disadvantage youth ages 10-22 to close
        the achievement gap.</p>

      <h4 class="my-20px">theMillsKorner VISION</h4>
      <p>Every young person must have a supportive relationship needed to nurture, grow and develop into thriving and
        productive adults.</p>

      <h4 class="my-20px">theMillsKorner VALUES</h4>
      <p>to serve as leaders through the service of empowering others to become the best versions of themselves while
        the ultimate function is to impart knowledge and motivate through other mentors and shared life experiences.</p>

      <p>
        Quality mentoring relationships are proven game changers for young people, especially those who are at-risk of
        falling off track. Mentoring connects a young person to personal, academic, social, and economic support and
        opportunities.

        This is known as The Effective Mentoring Process.
      </p>
    </div>

    <div class="col-4">
      <div class="bg-color-grayflame widget pt-30px pb-30px px-30px">
        <ul class="category-list list-unstyled mb-0" style="text-transform: uppercase">
          <li>
            <a routerLink="/making-of-a-mentor">
              Making of a Mentor
            </a>
          </li>
          <li>
            <a routerLink="/how-we-came-to-be">
              how we came to be
            </a>
          </li>
          <li>
            <a routerLink="/testimonials">
              testimonials
            </a>
          </li>
          <li>
            <a routerLink="/kontact">
              kontact
            </a>
          </li>
          <li>
            <a routerLink="/donate">
              donate
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
