<div class="container">
  <div class="row">
    <div class="col-8" style="text-align: justify">
      <h4>Athletic Youth Empowerment</h4>
      <p>Physical activity is vital to the holistic development of young people, fostering their physical, social and
        emotional health. The benefits of sport reaches beyond the impact on physical well-being and the value of the
        educational benefits of sport should not be under-estimated. Character, the cornerstone to any program – the
        strength, speed and conditioning aspect of any program is a great place for character development to begin.
      </p>
      <p>
        John Wooden’s Pyramid of Success is the classic example. Sports provides a universal framework for teaching
        values that we all share, such as equality, fairness, respect, discipline, inclusion and perseverance. Sport
        possesses a transformative power for fostering intercultural dialogue, fairness, and inclusion, A true Sport
        Specific exercise program is built entirely upon the principles of functional exercise. Functional exercises are
        designed to restore balance, lengthen, strengthen, and coordinate movement patterns specific to the intended
        sport as well as a healthy life style. Exercise programming and periodization will cater to exactly the area
        that needs to be improved. Consequently, it will enhance your game.
      </p>
      <p>
        Healthy development of children and young people through sport is phenomenal concept. Physical education and
        sport have an educational impact where changes can be witnessed in motor skills development and performance and
        educational potential alike. This shows the positive relationship between being involved in physical activities
        and psychosocial development. Providing physical education both inside and outside of schools is crucial in
        helping young people to learn and develop life skills. The results in following a well-rounded exercise program
        that is tailored specifically to your athletes greatly enhances one’s ability to achieve the sought after goals.
        Nutritional consultation should be incorporated into this program as well. Focusing on reducing body fat by
        following a healthy diet will increase your performance as well as carry over into your regular life, allowing
        for a healthier one. In sport, as in life, many of the most critical aspects involve positive mental attitude
        and approach. The purpose of The Mills Korner to discern the role of the coach/mentor making sure each one which
        embodies and enables the athlete to achieve levels of performance to a degree that may not have been possible if
        it were left to the athletes own endeavors. </p>
    </div>

    <div class="col-4">
      <div class="bg-color-grayflame widget pt-30px pb-30px px-30px">
        <ul class="category-list list-unstyled mb-0" style="text-transform: uppercase">
          <li>
            <a routerLink="/camp-dates-venues">
              Camp Dates and Venues
            </a>
          </li>
          <li>
            <a routerLink="/events">
              Events
            </a>
          </li>
          <li>
            <a routerLink="/athletic-training-opportunities">
              Athletic Training Opportunities
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
