<div class="container mb-65px">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="blog_posts stander_blog_single_post">
        <article>
          <div class="post_text mt-0">
            <div class="post_meta_top">
              <span class="post_meta_date">{{news.published | date}}</span>
            </div>
            <h2 class="post_title mb-20px">
              {{news.title}}
            </h2>

            <div class="post_content" [innerHTML]="news.content"></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
