<div class="container mb-65px">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="blog_posts stander_blog_single_post">
        <article>
          <div class="post_text mt-0">
            <div class="post_meta_top">
              <span class="post_meta_date">{{event.date | date}}</span>
              <span class="post_meta_date" *ngIf="event.ages">Ages {{event.ages}}</span>
            </div>
            <h2 class="post_title mb-20px">
              {{event.title}}
            </h2>

            <p class="mb-3"><strong>Address:</strong> {{event.venue && event.address ? event.venue + ' - ' + event.address : 'TBD'}}</p>

            <h4>Links</h4>
            <div class="d-flex flex-row mb-4">
              <div *ngFor="let link of event.links" class="mr-3">
                <a [href]="link.link">{{link.title}}</a>
              </div>
            </div>

            <div class="post_content" [innerHTML]="event.details"></div>

            <div class="row">
              <div *ngFor="let image of event.images" class="col-4 mb-4">
                <img [src]="image" width="100%"/>
              </div>
            </div>

            <div class="post_meta_bottom mt-40px mb-30px">
              <div class="separator-line mt-10px"></div>
            </div>
            <div class="blog-post-comments">

              <h5 class="comment-reply-title mb-4 d-flex flex-row justify-content-between"><span>Sign Up For Event</span> <span>{{this.event.price / 100 | currency}}</span></h5>

              <form [formGroup]="eventForm" class="form-fields-bg-gray" (ngSubmit)="joinEvent()">
                <div class="row mb-15px">
                  <div class="form-group col-md-4">
                    <input id="fname" formControlName="fname" type="text" class="form-control form-light-border validate-required" placeholder="First Name">
                    <div *ngIf="submitted && f().fname.errors" class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>First Name is required.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <input id="lname" formControlName="lname" type="text" class="form-control form-light-border validate-required" placeholder="Last Name">
                    <div *ngIf="submitted && f().lname.errors" class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Last Name is required.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <input id="email" formControlName="email" type="email" name="Email" class="form-control form-light-border validate-required validate-email" placeholder="Email">
                    <div *ngIf="submitted && f().email.errors" class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Email is required.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row mb-15px">
                  <div class="form-group col-md-4">
                    <input type="text" formControlName="phone" name="phone" class="form-control form-light-border" placeholder="Phone">
                    <div *ngIf="submitted && f().phone.errors" class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Phone number is required.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group col-md-4" *ngIf="event.title === 'Fortnite Battle Royal Tournament'">
                    <input type="text" formControlName="username" name="username" class="form-control form-light-border" placeholder="Username">
                    <div *ngIf="submitted && f().username.errors" class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Username is required.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="mb-15px py-3">
                  <div class="form-group">
                    <div id="card-element"></div>
                  </div>

                  <div id="card-errors" role="alert"></div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12 col-xs-12">
                    <button type="submit" [disabled]="eventForm.invalid || (submitted || paidFor)" class="btn btn-shadow rounded-1 mr-3">Sign Up</button>
                    <span *ngIf="paidFor" class="text-success">You have been singed up.</span>
                    <span *ngIf="chargeError || customerError" class="text-danger">{{customerError || chargeError}}</span>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </article>

        <p class="text-center mt-3">We use Stripe to process credit card payments on our website. Stripe is certified as PCI Service Provider Level 1 -- the most stringent level of certification possible.</p>

      </div>
    </div>
  </div>
</div>
