<div class="container">
  <div class="row">
    <h4>TheMillsKorner News!</h4>

    <div class="container p-0">
      <div class="row">
        <div class="col-lg-8">
          <div class="row blog_posts cardPostStyle">
            <div *ngFor="let article of news" class="col-12">
              <article>
                <div class="post_text">
                  <div class="post_meta_top">
                    <span class="post_meta_date">{{article.published | date}}</span>
                  </div>
                  <h5 class="post_title">
                    <a href="/general-news/{{article.title | slugify}}">{{article.title}}
                    </a>
                  </h5>
                  <div class="post_content">
                    <p>{{article.content | removeHtml}}</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bg-color-grayflame widget pt-30px pb-30px px-30px">
            <ul class="category-list list-unstyled mb-0">
              <li>
                <a routerLink="/child-safety">
                  CHILD SAFETY
                </a>
              </li>
              <li>
                <a href="#">
                  PHOTO ALBUM
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
