<div class="container">
  <div class="row">
    <h4>TheMillKorner News</h4>

    <div class="container p-0">
      <div class="row">
        <div class="col-lg-8">
          <div class="row blog_posts cardPostStyle">
            <div class="col-md-6 col-lg-6">
              <article>
                <div class="post_img">
                  <img src="https://source.unsplash.com/0r0ONv0-eWc/360x200" alt="Card image cap">
                </div>
                <div class="post_text">
                  <div class="post_meta_top">
                    <span class="post_meta_date">NOV 17, 2020</span>
                  </div>
                  <h5 class="post_title">
                    <a href="blog-single-post.html">Aenean mattis tortor ac sapien congue
                      molestie
                    </a>
                  </h5>
                  <div class="post_content">
                    <p>Quisque sollicitudin lacinia sapien, eu tincidunt nun accumsan nec
                      laoreet. Curabitur
                      feugiat posuere odio. </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-6">
              <article>
                <div class="post_img">
                  <img src="https://source.unsplash.com/Hdpwe3IEU98/360x200" alt="Card image cap">
                </div>
                <div class="post_text">
                  <div class="post_meta_top">
                    <span class="post_meta_date">NOV 17, 2020</span>
                  </div>
                  <h5 class="post_title">
                    <a href="blog-single-post.html">Etiam commodo eros non erat tristique
                      congue
                    </a>
                  </h5>
                  <div class="post_content">
                    <p>Quisque sollicitudin lacinia sapien, eu tincidunt nun accumsan nec
                      laoreet. Curabitur
                      feugiat posuere odio. </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-6">
              <article>
                <div class="post_img">
                  <img src="https://source.unsplash.com/Ue5MJoavkIc/360x200" alt="Card image cap">
                </div>
                <div class="post_text">
                  <div class="post_meta_top">
                    <span class="post_meta_date">NOV 15, 2020</span>
                  </div>
                  <h5 class="post_title">
                    <a href="blog-single-post.html">Curabitur pretium lectusnc ine fermentum
                      fermen
                    </a>
                  </h5>
                  <div class="post_content">
                    <p>Quisque sollicitudin lacinia sapien, eu tincidunt nun accumsan nec
                      laoreet. Curabitur
                      feugiat posuere odio. </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-6">
              <article>
                <div class="post_img">
                  <img src="https://source.unsplash.com/YadCgbsLHcE/360x200" alt="Card image cap">
                </div>
                <div class="post_text">
                  <div class="post_meta_top">
                    <span class="post_meta_date">NOV 17, 2020</span>
                  </div>
                  <h5 class="post_title">
                    <a href="blog-single-post.html">Suspendisse viverra massa eget nibh
                      ultricies mollis
                    </a>
                  </h5>
                  <div class="post_content">
                    <p>Quisque sollicitudin lacinia sapien, eu tincidunt nun accumsan nec
                      laoreet. Curabitur
                      feugiat posuere odio. </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-6">
              <article>
                <div class="post_img">
                  <img src="https://source.unsplash.com/XmYSlYrupL8/360x200" alt="Card image cap">
                </div>
                <div class="post_text">
                  <div class="post_meta_top">
                    <span class="post_meta_date">NOV 11, 2020</span>
                  </div>
                  <h5 class="post_title">
                    <a href="blog-single-post.html">Pellentesque ipsum magna neu ultrices vitae
                      rutrum
                    </a>
                  </h5>
                  <div class="post_content">
                    <p>Quisque sollicitudin lacinia sapien, eu tincidunt nun accumsan nec
                      laoreet. Curabitur
                      feugiat posuere odio. </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-6">
              <article>
                <div class="post_img">
                  <img src="https://source.unsplash.com/JqCpvGN0JFo/360x200" alt="Card image cap">
                </div>
                <div class="post_text">
                  <div class="post_meta_top">
                    <span class="post_meta_date">NOV 13, 2020</span>
                  </div>
                  <h5 class="post_title">
                    <a href="blog-single-post.html">Aenean mattis tortor ac sapien congue
                      molestie.
                    </a>
                  </h5>
                  <div class="post_content">
                    <p>Quisque sollicitudin lacinia sapien, eu tincidunt nun accumsan nec
                      laoreet. Curabitur
                      feugiat posuere odio. </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <nav class="pagination_holder">
            <ul class="pagination mb-55px">

              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                                        <span>
                                            >
                                        </span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-lg-4">
          <div class="bg-color-grayflame widget pt-30px pb-30px px-30px">
            <ul class="category-list list-unstyled mb-0">
              <li>
                <a routerLink="/child-safety">
                  CHILD SAFETY
                </a>
              </li>
              <li>
                <a href="#">
                  SCHEDULES
                </a>
              </li>
              <li>
                <a href="#">
                  SCORES
                </a>
              </li>
              <li>
                <a href="#">
                  STATS
                </a>
              </li>
              <li>
                <a href="#">
                  NCAA STANDARDS
                </a>
              </li>
              <li>
                <a href="#">
                  PHOTO ALBUM
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
