<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img class="etcodes-normal-logo" src="assets/images/mills-logo1.png" width="150" alt="Logo">
      <img class="etcodes-mobile-logo" src="assets/images/mills-logo1.png" width="84" height="22" alt="Logo">
      <!--<img class="etcodes-mobile-logo" src="assets/images/mills-logo.png" width="84" height="22" alt="Logo">-->
    </a>
    <button class="navbar-toggler hamburger-menu-btn" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span>toggle menu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/making-of-a-mentor" aria-haspopup="true" aria-expanded="false">Making of a Mentor</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/koaches-korner" aria-haspopup="true" aria-expanded="false">Koaches Korner</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/general-news" aria-haspopup="true" aria-expanded="false">News</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/athletic-youth-empowerment" aria-haspopup="true" aria-expanded="false">Athletic Youth Empowerment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/events" aria-haspopup="true" aria-expanded="false">Events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/kontact" aria-haspopup="true" aria-expanded="false">Kontact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
