<div class="container" id="content">
  <div class="row">
    <div class="col-lg-12">
      <h4>Background Checks on Potential Mentors</h4>

      <p>Themillskorner is a leader in child safety and fully complies with the Children’s Privacy Protection Act.
        Protecting the young people we work with is our top priority. We do this by performing identity verification
        and criminal and sex-offender background checks on all potential mentors, monitoring and filtering
        communications through DOJ and FBI state-of-the-art system, and requiring our mentors to notify us of any
        inappropriate, illegal or potentially endangering communications.</p>
      <p>TheMillsKorner mentors are required to pass a thorough background check in order to participate in
        themillskorner. This includes a National Criminal Check, a National Sex Offender Check and an Identification
        Verification.</p>
    </div>
  </div>
</div>
